:root {
  --grey-100: #F5F5F5;
  --grey-275: #EEEEEE;
  --grey-250: #E5E5E5;
  --grey-300: #DDDDDD;
  --grey-310: #C4C4C4;
  --grey-450: #7E7E7E;
  --grey-800: #666666;

  --red-200: #E53935;
  --green-500: #009900;
  --blue-500: #2962FF;

  --pure-white: #FFFFFF;

  --semi-transparent-black: #00000073;
}
